@model Entities.HomeSlider

@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubName" class="control-label"></label>
                    <input asp-for="SubName" class="form-control" />
                    <span asp-validation-for="SubName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AllName" class="control-label"></label>
                    <input asp-for="AllName" class="form-control" />
                    <span asp-validation-for="AllName" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@

<!-- main title -->
<div class="col-12">
    <div class="main__title">
        <h2>Edit Actor</h2>
    </div>
</div>
<!-- end main title -->
<!-- form -->
<div class="col-12">
    <form class="form" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12 col-md-5 form__cover">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-12">
                        <div class="form__img">
                            <label for="form__img-upload">Upload cover</label>
                            <input asp-for="Photo" id="form__img-upload" name="Photo" type="file" accept=".png, .jpg, .jpeg">
                            <img id="form__img" src="#" alt=" ">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-7 form__content">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="form__group">
                            <input asp-for="Name" type="text" class="form__input" name="Name" placeholder="name">
                        </div>
                    </div>



                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="form__group">
                            <input asp-for="SubName" type="text" class="form__input" placeholder="Subname">
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="form__group">
                            <input asp-for="AllName" type="text" class="form__input" placeholder="Allname">
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-12">
                <div class="row">


                    <div class="col-12">
                        <button type="submit" value="Save" class="form__btn">publish</button>
                    </div>

                </div>

            </div>

        </div>
       
    </form>
   

    <!-- end form -->





    <div>
        <a asp-action="Index">Back to List</a>
    </div>

