@model ActorVM
@foreach (var actor in Model.Actors)
{
    <div class="col-md-4 col-6 col-sm-4 col-lg-3 col-xl-3">
        <div class="actor-detail">
            <div class="detail-img">
                <img class="img-fluid"
                     src="@actor.Photo"
                     alt="">
            </div>
            <div class="detail-text">
                <h5>@actor.Name</h5>
                <p><a href="@Url.Action("Details", "Actor", new { id=actor.ID})">Read More...</a></p>
            </div>
        </div>
    </div>
}